body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image: url("assets/Image_prato_jacare.jpg");
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color:darkgreen;
    text-align: justify
}

p.descricao{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:black;
    text-align:justify
}
h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color:darkgreen;
    text-align: justify
}
p.modo_de_preparo{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:black;
    text-align:justify
}



a{
    text-decoration: none;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 21px;
    margin: 80px auto;
}

button{
    display: block;
    background-color:azure;
    margin: 300px auto;
    border-radius: 20px;
    border-color:black;
    
}
